.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - var(--navBarHeight) - var(--footerHeight) - 3rem);
    /* background-color: antiquewhite; */
    flex-direction: column;
    width: 100%;
}
.barcodeInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 200px;
    flex-direction: column;
    width: 25%;
    cursor: pointer;
}
