<div class="container">
    <div class="barcodeInput">
        <input id="barcodeInput" autofocus type="text" style="width: 50%"
            pInputText placeholder="Customer Bar Code"
            (keydown.enter)="onEnterPress($event)"
            [(ngModel)] = "barcode"
        >
    </div>
    <div class="card flex justify-content-center">
        <p-button label="Check" icon="pi pi-check"></p-button>
    </div>
    <div class="card flex justify-content-center">
        <input type="text" pInputText />
    </div>
</div>